*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: inline;
  font-family: "SF Pro text", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}


/** text styles **/

h2 {
  color: #666;
  font-size: 100%;
}

section > h2 {
  color: #111;
}

li {
  display: inline-block;
  line-height: 120%;
  margin-left: 5%;
  vertical-align: top;
}


/** stuff that sticks **/

header {
  background-color: #038264;
  color: #F9F9F9;
  display: inline-block;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

.status-bar {
  width: 100%;
}

.chevron-back {
  margin-left: 7%;
  margin-top: 14px;
}

.page-title {
  font-size: 120%;
  margin-left: 14%;
  margin-top: 10px;
}

.filter {
  background-color: #22C19B;
  float: left;
  height: 90px;
  margin-top: 70px;
  padding: 4% 7%;
  position: fixed;
  width: 100%;
}

select::-ms-expand {
  display: none;
}

.filter:after {
  content: url(../images/arrow-down.png);
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 11%;
  top: 48px;
}

.filter select {
  -webkit-appearance: none;
  -ms-word-break: normal;
  -moz-appearance: none;
  appearance: none;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;  color: #555;
  display: block;
  float: right;
  height: 30px;
  margin-top: 10px;
  padding-left: 4%;
  width: 100%;
}

.headings {
  background-color: #A4E1D2;
  box-shadow: 0 5px 5px -1px #D1D2D2;
  color: #111;
  height: 35px;
  margin-top: 160px;
  padding-left: 7%;
  padding-top: 8px;
  position: fixed;
  width: 100%;
}


/** Stuff that scrolls **/

.scroll {
  color: #555;
  margin-top: 195px;
}

.direction {
  background-color: #DCE2E1;
  font-size: 85%;
  height: 30px;
  padding: 9px 7%;
}

.direction-alert {
  background-color: #F2BEC1;
  font-size: 85%;
  height: 30px;
  padding: 9px 7%;
}

.data {
  background-color: #F9F9F9;
  border-bottom: 1px solid #DBDADB;
  height: 60px;
  padding-left: 7%;
  padding-top: 12px;
}

.column-title-left {
  margin: 0;
  width: 8%;
}

.column-title-center {
  margin-left: 10%;
  width: 34%;
}

.column-title-right {
  margin-left: 1%;
  width: 25%;
}

.left {
  color: #038264;
  font-weight: bold;
  margin: 0;
  width: 8%;
}

.center {
  color: #666;
  font-weight: semibold;
  margin-left: 10%;
  width: 30%;
}

.right-top {
  color: #038264;
  font-weight: bold;
}

.right-bottom {
  color: #666;
  font-weight: normal;
}

.right-alert {
  color: #666;
  font-weight: normal;
  width: 26%;
}
