*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: inline;
  font-family: "SF Pro text", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
}


/** text styles **/

h2 {
  color: #666;
  font-size: 100%;
}

section > h2 {
  color: #000;
}

li {
  display: inline-block;
  line-height: 120%;
  margin-left: 5%;
  vertical-align: middle;
}


/** stuff that sticks **/

header {
  background-color: #038264;
  color: #F9F9F9;
  display: inline-block;
  height: 70px;
  position: fixed;
  top: 0;
}

.status-bar {
  width: 100%;
}

.chevron-back {
  margin-left: 2%;
  margin-top: 17px;
}

.back {
  font-weight: lighter;
  margin-left: 2.5%;
  margin-top: 13px;
}

.page-title {
  font-size: 120%;
  margin-left: 6%;
  margin-top: 10px;
}

.filter {
  background-color: #22C19B;
  height: 90px;
  margin-top: 70px;
  padding: 4% 7%;
}

select {
  background-color: #F9F9F9;
  height: 30px;
  margin-top: 10px;
  padding-left: 2%;
  width: 100%;
}

.headings {
  background-color: #A4E1D2;
  box-shadow: 0 5px 5px -1px #D1D2D2;
  height: 35px;
  padding-left: 7%;
  padding-top: 8px;
}


/** Stuff that scrolls **/

.scroll {
  color: #555;
}

.direction {
  background-color: #DCE2E1;
  font-size: 85%;
  height: 30px;
  padding: 9px 7%;
}

.direction-alert {
  background-color: #F2BEC1;
  font-size: 85%;
  height: 30px;
  padding: 9px 7%;
}

.data {
  background-color: #F9F9F9;
  border-bottom: 1px solid #DBDADB;
  height: 60px;
  padding-left: 7%;
  padding-top: 12px;
}

.column-title-left {
  margin: 0;
  width: 8%;
}

.column-title-center {
  margin-left: 11%;
  width: 46%;
}

.column-title-right {
  margin-left: 0%;
  width: 18%;
}

.left {
  color: #038264;
  font-weight: bold;
  margin: 0;
  width: 8%;
}

.center {
  color: #666;
  font-weight: bold;
  margin-left: 10%;
  width: 47%;
}

.right {
  color: #666;
  font-weight: normal;
  margin-left: 0%;
  width: 18%;
}
