*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: inline;
  font-family: sans-serif; /** need to be more speicific **/
  font-size: 38px;
  font-weight: bold;
}


/** text styles **/

h1 {
  font-size: 120%;
}

h2, h3 {
  color: #666;
  font-size: 100%;
}



/** stuff that sticks **/

.no-scroll {
  position: fixed;
  top: 0;
  width: 100%;
}

.status-bar {
  width: 100%;
}

.dropdown {
  margin-top: 25px;
  width: 100%;
}

.nav {
  background-color: #038264;
  color: #F9F9F9;
  display: inline-block;
  height: 150px;
  width: 100%;
}

.chevron-back {
  color: #F9F9F9;
  margin-left: 1.5%;
  margin-top: 20px;
}

.back {
  font-weight: lighter;
  margin-left: 0%;
  margin-top: 20px;
}

.page-title {
  margin-left: 11%;
  margin-top: 20px;
  font-size: 120%;
}

.filter {
  background-color: #22C19B;
  color: #000;
  height: 250px;
  padding: 4% 5%;
}

.headings {
  background-color: #A4E1D2;
  box-shadow: 0 10px 15px -1px #D1D2D2;
  height: 100px;
  padding-left: 5%;
  padding-top: 30px;
}


/** Stuff that scrolls **/

.scroll {
  margin-top: 504px;
  color: #555;
}

.direction {
  background-color: #DCE2E1;
  height: 70px;
  padding: 15px 5%;
}

.direction-alert {
  background-color: #F2BEC1;
  height: 70px;
  padding: 15px 5%;
}

.data {
  background-color: #F9F9F9;
  border-bottom: 1px solid #BCBBC1;
  height: 150px;
  padding-left: 5%;
  padding-top: 35px;
}

.data-oneLine {
  background-color: #F9F9F9;
  border-bottom: 1px solid #BCBBC1;
  height: 150px;
  padding-left: 5%;
  padding-top: 55px;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
}

.column-title-left {
  margin: 0;
  width: 8%;
}

.column-title-center {
  margin-left: 11%;
  width: 46%;
}

.column-title-right {
  margin-left: 0%;
  width: 18%;
}

.left {
  color: #666;
  font-weight: normal;
  margin: 0;
  width: 8%;
}

.center {
  color: #666;
  font-weight: normal;
  margin-left: 10%;
  width: 47%;
}

.right {
  color: #666;
  font-weight: normal;
  margin-left: 0%;
  width: 18%;
}

.chevron {
  color: #666;
  margin-left: 4%;
}
